<header class="page-header">
  <div class="page-header__button-container">
    <div class="page-header__scroll-button"></div>
    <h2 class="page-header__mobile-title">Обучение</h2>
    <button class="page-header__plan-button"><span>Запланировать</span></button>
  </div>
  <div class="page-header__container container">
    <h3 class="page-header__breadcrumbs">
      Главная &nbsp;   —  &nbsp;  Планирование
    </h3>
    <h1 class="page-header__page-title">
      Планирование
    </h1>
  </div>
</header>
